*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: #111;
    color: white;
}

.singleWord{
    border: 2px solid green;
    /* display: inline-block; */
}